* {
  box-sizing: border-box; 
}

.page-wrap {
  max-width: 800px;
  margin: 20px auto;
}

a {
  color: lightblue;
}

.stories {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.story {
  position: relative;
}

  .story--main {
    width: 100%;
    margin-bottom: 25px;
  }

  .story__image {
    display: block;
    max-width: 100%;
  }

  .story__intro {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.75);
    padding: 20px;
    color: white;
  }

    .story__headline {
      margin: 0 0 10px 0;
    }

    .story--main .story__headline {
      text-transform: uppercase;
      font-size: 2.5em;
    }

    .story--sub .story__headline {
      font-size: 1.5em;
    }

    .story__intro p {
      margin: 0;
    }

  @media screen and (min-width: 850px) {
    .story--sub {
      max-width: 30%;
    }
  }

  @media screen and (max-width: 849px) {
    .story--main .story__headline,
    .story--sub .story__headline {
      font-size: 1.2em;
    }

    .story--sub {
      background: rgba(0, 0, 0, 0.75);
      width: 100%;
      margin-bottom: 25px;
    }

    .story--sub .story__image {
      float: left;
      max-width: 40%;
      padding: 25px;
    }

    .story--sub .story__intro {
      background: none;
      position: static;
    }
  }